/*! TNA Child styles */

@import "global";

.stories-resource-image {
  width: auto;
  height: auto;
}

.activity-container {
  background-color: #f3f3f3;
  padding: 20px;
  margin: 0;
  line-height: 1.6;
  width: auto;
}

#guidance {
  display: none;
}
